services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: api
    environment:
      DB_HOST: postgres
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOST: redis
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - postgres
      - redis

  bot:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: bot
    env_file: .env
    environment:
      REDIS_HOST: redis
      API_HOST: app
    depends_on:
      - app

  postgres:
    image: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis
    restart: always

  migrate:
    profiles: ["tools"]
    build:
      context: .
      dockerfile: ./Dockerfile
      target: migrate
    env_file: .env
    environment:
      DB_HOST: postgres
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - postgres
    restart: "no"

volumes:
  pgdata:
